/bin/
/docs/
/out/
/target/
/output/
/COMP*/
/.idea
/jcef-bundle/
/ll.c
*.class
/elijah-prolific-remnant/target/**
/elijah-prolific-remnant/COMP/**
/elijah-prolific-remnant/elijah-prolific-remnant.iml
/target/**
